@model Projetos.Data.User

@{
    ViewData["Title"] = "Privacy Policy";
}

<h4>Cadastrar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group mb-3">
                <span class="input-group-text material-icons" id="basic-addon1">face</span>
                <input type="text" asp-for="nome" class="form-control" placeholder="Insira seu Nome" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

