@model Projetos.Data.User

@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>

<div>
    <a asp-action="Index" style="text-decoration: none; color: 
    black; display: block; font-size: 20pt; margin-bottom: 20px;"><i class="fas fa-arrow-left"></i></a>
</div>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idUser" />
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

</body>
</html>
